body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-right: 0;
    background-color: gray;
}

header {
    margin-top: 0px;
    padding: 1px; 
    width: 100%;
    background-color: black; 
    margin: 0%;
    margin-top: 0cm;
    display: table;
}
.izquierda {
    float: left; text-size-adjust: 14;color: white; margin: 10px;
}

.derecha {
    float: right; text-size-adjust: 14;color: white; margin: 10px;
    display: flex; 
    list-style-type: none; 
    margin-right: 10px; 
    
}

nav h1 {
    
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav h1 {
    float: right; text-size-adjust: 34;color: white; margin: 10px;
    display: inline;
    margin-right: 10px;
    
}

nav h1 a {
    float: right; text-size-adjust: 34;color: white; margin: 10px;
    text-decoration: none;
    color: white;
}
img {
    /*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), 
    url('creed_1.jpg');
    background-size: cover;
    background-position: center;
    vertical-align: bottom;
    margin-right: 0;
    width: 100;*/
    background-size: contain; /* Ajustar el tamaño para que la imagen se ajuste dentro del contenedor */
    background-position: center; /* Centrar la imagen */
    width: 40%; /* Ancho del 100% para ocupar todo el ancho del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Mostrar como bloque para centrar correctamente */
    margin: 0 auto; /* Centrar horizontalmente */
    
}
.texto {
    font-family: Arial, sans-serif; /* Tipo de fuente */
    font-size: 20px; /* Tamaño de fuente */
    color: white; /* Color del texto */
    text-align: center; /* Alinear texto al centro */
    margin-top: 20px; /* Margen superior */
    padding: 10px; /* Espaciado interno */
}

.texto {
    margin: 0; /* Eliminar margen interno de los párrafos */
    line-height: 1.5; /* Altura de línea */
}



footer {
    margin-right: 0;
    margin-top: 0px;
    padding: 1px; 
    width: 100%;
    background-color:black; 
    display: table;
    text-align: center;
    color: #fff; 
    padding: 20px; 
}
